:root {
  --green: #61876e;
  --paleYellow: #eae7b1;
  --darkGreen: #3c6255;
  --leafGreen: #a6bb8d;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  min-height: 100%;
  background: var(--darkGreen);
}
.wrapper {
  display: flex;
  justify-content: center;
}
